.container {
    background-color: gray;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    font-family: inherit;
  }

  .input {
    border: 2px solid darkgray;
    background-color: rgba(247, 246, 243, 0.625);
    border-radius: 0.5rem;
    text-align: center;
    font-family: inherit;
  }

  .button {
    background-color:rgba(247, 246, 243, 0.826) ;
    border: 2px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.2em 0.8em;
    font-size: 1em;
    font-weight: 450;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .button:hover {
    background-color: rgb(108, 111, 111);
  }
  .button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.alerta{
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color:rgba(240, 172, 160, 0.575) ;
}
  